.content-title {
  text-align: center;
  font-size: 30px;
  color: rgb(0,0,0);
}

.content-date {
  text-align: center;
}

.content {
  width: 1330px;
  background-color: rgb(255,255,255);
  margin: 10px;
  padding: 10px;
}

.content-change {
  float: right;
}

.content-delete {
  color: rgb(255,0,0);
}

.content-delete:hover {
  color: rgba(255, 0, 0, 0.733);
}